<!DOCTYPE html>
<html>
<head>
<title>nezuko</title>
<meta charset="UTF-8">
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9569994958536255"
     crossorigin="anonymous"></script>
<style>

body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-color:#000000;
  background-image: url('https://i.ibb.co/J2hGfw2/wp2553315-black-hd-wallpaper.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
  

</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Cucumber
  </div>
  <div class="w3-display-middle">
    <p class="w3-large w3-animate-top">Are you looking for cucumber?</p>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
     <a href="static/vc.html" target="_blank" class="w3-large w3-animate-top">click here</a>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    by <a href="https://www.instagram.com/ayato__0/" target="_blank">bakugo</a>
  </div>

</div>

</body>
</html>
